:root{
    --form-height:1050px;
    --form-width: 900px;
    
    --left-color:#FFB3B3;
    
    --right-color: #FFDBA4;
  }
  
  body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;


  }
  
  .container{
    width: var(--form-width);
    height: var(--form-height);
    position: relative;
    margin: auto;
    box-shadow: 2px 10px 40px rgba(8, 8, 8, 0.4);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
   
  }

  .container2{
    width: 1200px;
    height: var(--form-height);
    position: relative;
    margin: auto;
    box-shadow: 2px 10px 40px rgba(8, 8, 8, 0.4);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(../images/background.JPG) ;
    background-position:center ;
    background-size: cover;
    background-image: linear-gradient(WHITE, #ffefe6);
    padding-top: 55px;
overflow: scroll;
 
  }
  .container3{
    width: 1200px;
    height: 900px;
    position: relative;
    margin: auto;
    box-shadow: 2px 10px 40px rgba(8, 8, 8, 0.4);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(../images/background.JPG) ;
    background-position:center ;
    background-size: cover;
    background-image: linear-gradient(WHITE, #ffefe6);
    padding-top: 55px;
overflow: scroll;
  }

  .container4{
    width: 1000px;
    height: 1000px;
    position: relative;
    margin: auto;
    box-shadow: 2px 10px 40px rgba(8, 8, 8, 0.4);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(../images/background.JPG) ;
    background-position:center ;
    background-size: cover;
    background-image: linear-gradient(WHITE, #ffefe6);
    padding-top: 55px;
overflow: scroll;
  }
  /* 
  ----------------------
        Overlay
  ----------------------
  */
  .overlay{
    width: 100%; 
    height: 100%;
    position: absolute;
    z-index: 100;
    background-image: linear-gradient(to right, var(--left-color), var(--right-color));
    border-radius: 10px;
    color: white;
    clip: rect(0, 385px, var(--form-height), 0);
  }
  
  .open-sign-up{
      animation: slideleft 1s linear forwards;
  }
  
  .open-sign-in{
      animation: slideright 1s linear forwards;
  }
  
  .overlay .sign-in, .overlay .sign-up{
    /*  Width is 385px - padding  */
    --padding: 50px;
    width: calc(385px - var(--padding) * 2);
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px var(--padding);
    text-align: center;
  }
  
  .overlay .sign-in{
    float: left;
   
  }
  
  .overlay-text-left-animation{
      animation: text-slide-in-left 1s linear;
   
  }
  .overlay-text-left-animation-out{
      animation: text-slide-out-left 1s linear;
      
  }
  
  .overlay .sign-up{
    float:right;
    
  }
  
  .overlay-text-right-animation{
      animation: text-slide-in-right 1s linear;
      
  }
  
  .overlay-text-right-animation-out{
      animation: text-slide-out-right 1s linear;
     
  }
  
  
  .overlay h1{
    margin: 0px 5px;
    font-size: 2.1rem;
  }
  
  .overlay p{
    margin: 20px 0px 30px;
    font-weight: 200;
  }
  /* 
  ------------------------
        Buttons
  ------------------------
  */
  .switch-button, .control-button{
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    background: none;
    border-radius: 20px;
    color: white;
  }
  
  .switch-button{
    border: 2px solid;
  }
  
  .control-button{
    border: none;
    margin-top: 15px;
  }
  
  .switch-button:focus, .control-button:focus{
    outline:none;
  }
  
  .control-button.up{
    background-color: var(--left-color);
  }
  
  .control-button.in{
    background-color: var(--right-color);
  }

  .switch-buttonin-signUp-container{
    display: flex;
    margin: 10px;
  }
.switch-buttonin-signUp{
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    background: none;
    border-radius: 20px;
    color: white;
    border: none;
    margin-top: 15px;
    background-color:#FFB3B3;
    
}

  
  /* 
  --------------------------
        Forms
  --------------------------
  */
  .form{
    width: 100%; 
    height: 100%;
    position: absolute;
    border-radius: 10px;
  }
  
  .form .sign-in, .form .sign-up{
    --padding: 50px;
    position:absolute;
      /*  Width is 100% - 385px - padding  */
    width: calc(var(--form-width) - 385px - var(--padding) * 2);
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px var(--padding);
    text-align: center;
  }
  
  /* Sign in is initially not displayed */
  .form .sign-in{
    display: none;
  }
  
  .form .sign-in{
    left:0;
  }
  
  .form .sign-up{
    right: 0;
  }
  
  .form-right-slide-in{
    animation: form-slide-in-right 1s;
  }
  
  .form-right-slide-out{
    animation: form-slide-out-right 1s;
  }
  
  .form-left-slide-in{
    animation: form-slide-in-left 1s;
  }
  
  .form-left-slide-out{
    animation: form-slide-out-left 1s;
  }
  
  .form .sign-in h1{
    color: var(--right-color);
    margin: 0;
  }
  
  .form .sign-up h1,.form .sign-up h3{
    color: var(--left-color);
    margin: 0;
  }
  
  
  
 
  
  .small{
    font-size: 13px;
    color: grey;
    font-weight: 200;
    margin: 5px;
  }
  
 
  
  #sign-in-form input, #sign-up-form input{
    margin: 12px;
    font-size: 14px;
    padding: 15px;
    width: 260px;
    font-weight: 300;
    border: none;
    background-color: #e4e4e494;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1.5px;
    padding-left: 20px;
    border-radius: 30px;
  }
  
  #sign-in-form input::placeholder{
    letter-spacing: 1px;
  }
  
  
  
  /* 
  ---------------------------
      Animation
  ---------------------------
  */
  @keyframes slideright{
    0%{
      clip: rect(0, 385px, var(--form-height), 0);
    }
    30%{
          clip: rect(0, 480px, var(--form-height), 0);
    }
    /*  we want the width to be slightly larger here  */
    50%{
       clip: rect(0px, calc(var(--form-width) / 2 + 480px / 2), var(--form-height), calc(var(--form-width) / 2 - 480px / 2));
    }
    80%{
           clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 480px));
    }
    100%{
       clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 385px));
    }
  }
  
  @keyframes slideleft{
    100%{
      clip: rect(0, 385px, var(--form-height), 0);
    }
    70%{
          clip: rect(0, 480px, var(--form-height), 0);
    }
    /*  we want the width to be slightly larger here  */
    50%{
       clip: rect(0px, calc(var(--form-width) / 2 + 480px / 2), var(--form-height), calc(var(--form-width) / 2 - 480px / 2));
    }
    30%{
           clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 480px));
    }
    0%{
       clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 385px));
    }
  }
  
  @keyframes text-slide-in-left{
    0% {
      padding-left: 20px;
    }
    100% {
      padding-left: 50px;
    }
  }
  
  @keyframes text-slide-in-right{
    0% {
      padding-right: 20px;
    }
    100% {
      padding-right: 50px;
    }
  }
  
  @keyframes text-slide-out-left{
    0% {
      padding-left: 50px;
    }
    100% {
      padding-left: 20px;
    }
  }
  
  @keyframes text-slide-out-right{
    0% {
      padding-right: 50px;
    }
    100% {
      padding-right: 20px;
    }
  }
  
  @keyframes form-slide-in-right{
    0%{
      padding-right: 100px;
    }
    100%{
      padding-right: 50px;
    }
  }
  
  @keyframes form-slide-in-left{
    0%{
      padding-left: 100px;
    }
    100%{
      padding-left: 50px;
    }
  }
  
  @keyframes form-slide-out-right{
    0%{
      padding-right: 50px;
    }
    100%{
      padding-right: 80px;
    }
  }
  
  @keyframes form-slide-out-left{
    0%{
      padding-left: 50px;
    }
    100%{
      padding-left: 80px;
    }
  }

  .babysitter{
    display: none;
  }
  .parent{
    display: block;
  }

  #sign-up-form-parent input, #sign-up-form-babtsitter input{
    margin: 12px;
    font-size: 14px;
    padding: 15px;
    width: 260px;
    font-weight: 300;
    border: none;
    background-color: #e4e4e494;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1.5px;
    padding-left: 20px;
  }
  #sign-up-form-parent textarea, #sign-up-form-babtsitter textarea{
    margin: 12px;
    font-size: 14px;
    padding: 15px;
    width: 260px;
    font-weight: 300;
    border: none;
    background-color: #e4e4e494;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1.5px;
    padding-right: 50px;
    margin-right: 100;
  }

  h6 {
    margin-top: 30px;  
  }

  footer {
    text-align: center;
    padding: 0.05px;
    background-image: linear-gradient(to bottom right,#f0a6a6, #f3d1c5);

    color: white;
  }
  
  select {
    margin: 12px;
    font-size: 14px;
    padding: 15px;
    width: 260px;
    font-weight: 300;
    border: none;
    background-color: #e4e4e494;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1.5px;
    padding-left: 20px; 
  }
  
.header{

width:100%;
margin:auto;
padding:15px 0;
display:flex;
align-items:center;
justify-content:space-between;
background-image: linear-gradient(to bottom right,#f0a6a6, #f3d1c5);
}
.logo{
margin-left : 30px;
  width:100px;
  cursor:pointer;
  border-radius: 10px; 
  transition: 0.5s ease;
  cursor: pointer;
}
.logo:hover{
  margin-left : 30px;
    width:100px;
    cursor:pointer;
    border-radius: 10px; 
    box-shadow: 2px 5px 12px rgba(60, 53, 53, 0.4);
    transform: scale(1.09);

  }
.header ul li{
list-style:none;
display:inline-block;
margin: 0 20px;
position: relative;

}
.header ul li a{
text-decoration: none;
color: white;
text-transform: uppercase;
font-family: 'Courier New', monospace;


}
.header ul li ::after{
content: '';
height: 3px;
width: 0;
background: white;
position: absolute;
left: 0;
bottom: -10px;
transition:0.5s ;
}
.header ul li :hover::after{
width: 100%;
}
.image {
  margin-right : 30px;
  margin-left: 0px;
  width:80px;
  cursor:pointer;
  border-radius: 20px;
  transition: 0.5s ease;
  cursor: pointer;
}
.image:hover {
  margin-right : 30px;
  margin-left: 0px;
  width:80px;
  cursor:pointer;
  border-radius: 200px;
  box-shadow: 2px 5px 12px rgba(8, 8, 8, 0.4);
  transform: scale(1.09);
}

.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: rgb(104, 104, 104);
	font-size: 65px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
  font-family: 'Courier New', monospace;


}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}


.box2{
	display: flex;
	justify-content: center;
	align-items: center ;
	min-height: 120px;
  resize: none;
  margin-right: 200px;
  padding: 5px 10px;
}


.card{
	height: 300px;
	width: 270px;
	padding: 20px 35px;
	background: linear-gradient(to bottom right,#FFB3B3,#ffdede);
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
  box-shadow: 2px 10px 40px rgba(8, 8, 8, 0.4);
  transition: 0.5s ease;
cursor: pointer;
}
.card:hover{
	background: linear-gradient(to bottom right,#ff9f9f,#ffcdcd);
	background: linear-gradient(to bottom right,#ffdede,#FFB3B3);
transform: scale(1.09);
}

.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #983b60;
}
.icon{
	text-align: center;
  margin-bottom: 23px;
  margin-top: 13px;

	color: #983b60;
  height: 55px;
  width: 55px;
}

h5{
	color: rgb(104, 104, 104);
	font-size: 30px;
	margin-bottom: 15px;
  font-family: 'Courier New', monospace;
  margin-top: 10px;

}
.pra p{
	color: rgba(0, 0, 0, 0.8);
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
  font-family: 'Courier New', monospace;
  text-align: center;
}
.card .button{
	background-color:#ffe3e3;
	color: rgb(104, 104, 104);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
  margin-right: 3px;

}

.card .button:hover{
	background-color: transparent;
	border: 2px solid  rgb(104, 104, 104);
	cursor: pointer;
}
/* About US */
.about{
	width: 100%;
	padding: 100px 0px;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
  border-top: 3px solid #bbb ;
	width: 1000px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
  padding: 50px;
  margin: 20px;
  
}
.about-text h2{
	color: #101010;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: -50px;
  font-family: 'Courier New', monospace;
  margin-left: 70px;

}
.about-text h5{
	color: #FFB3B3;
	letter-spacing: 2px;
	font-size: 35px;
	margin-bottom: 25px;
  margin-top: 37px;
	text-transform: capitalize;
  font-family: 'Courier New', monospace;
  margin-left: 70px;


}
.about-text p{
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
  font-family: 'Courier New', monospace;
  margin-left: 70px;

}
/*about us ending*/

/* offer list */
.cardOL{
	height: 210px;
	width: 950px;
	padding: 10px 15px;
	background: linear-gradient(#f5baba, #ffe3e3 );
	border-radius: 20px;
	margin: 50px;
	position: relative;
	overflow: hidden;
	text-align: left;
  box-shadow: 2px 5px 20px rgba(210, 197, 197, 0.4);
  margin-top: -10px;

}

.cardOL1{
	height: px;
	width: 900px;
	padding: 10px 15px;
	background: linear-gradient(#f5baba, #ffe3e3 );
	border-radius: 20px;
	margin: 50px;
	position: relative;
	overflow: hidden;
	text-align: left;
  box-shadow: 2px 5px 20px rgba(210, 197, 197, 0.4);
  margin-top: -10px;

}




h5{
	color: rgb(76, 76, 76);
	font-size: 20px;
	margin-left: 70px;
  font-family: 'Courier New', monospace;
  margin-top: -30px;
  


}

.praOL p{
	color: rgba(0, 0, 0, 0.8);
	font-size: 14px;
  width: 800px;
	line-height: 20px;
  font-family: 'Courier New', monospace;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: -5px;

}

.cardOL .button{
	background-color:#ffe3e3;
	color: rgb(104, 104, 104);;
	text-decoration: none;
	font-weight: bold;
  border: 1px solid #e2c7c7;
	padding: 5px 10px;
	border-radius: 15px;
	transition: .4s; 
  margin-right:20px;

}
 .button{
	background-color:#ffe3e3;
	color: rgb(104, 104, 104);
}
 .button:hover{
	background-color: transparent;
	border: 2px solid  rgb(104, 104, 104);
	cursor: pointer;
}
.cardED{
	background-color:#fed2d2;
	color: rgb(104, 104, 104);;
	text-decoration: none;
	border: 4px solid transparent;
	font-weight: bold;
	padding: 7px 12px;
	border-radius: 20px;
	transition: .4s; 
  margin-right:25px;

}

.cardOL .button:hover{
	background-color: transparent;
	border: 2px solid  rgb(104, 104, 104);
	cursor: pointer;
}
.imagei {
  margin-top : 10px;
  margin-left: 10px;
  width: 40px;
  cursor:pointer;
  border-radius: 10px;
  z-index: -5;
}
.imagei:hover {
  margin-left: 10px;
  width:40px;
  cursor:pointer;
  border-radius: 15px;
  box-shadow: 2px 5px 5px rgba(8, 8, 8, 0.4);
}
.price{
  margin-left: 780px;
  margin-top: -30px;
  padding-bottom: 0px;
  margin-bottom: -10px;
  color: #212020;
  padding-top: 10px;

}


.price2{
  margin-right: 660px;
  margin-top: -30px;
  padding-bottom: 0px;
  margin-bottom: -10px;
  color: #212020;
  padding-top: 10px;

}

/* offer list ends */

/*view profile*/
button {
  border: 0;
  width: 270px;
  padding: 10px;
  margin: 20px auto;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
           border-radius: 5px; 
  display: block;
  text-decoration: none;
   text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  font-size: 1.2em;
}

button:hover {
  -webkit-transition: background-color 1s ease-in;  
      -moz-transition: background-color 1s ease-in;  
        -o-transition: background-color 1s ease-in;  
           transition: background-color 1s ease-in; 
}

button:active {
  margin-top: 22px;
  margin-bottom: -2px;
}


.green {
  color: #FFF;
  background: #8bbc37;
  -webkit-box-shadow: 0 3px 1px #64950d;
     -moz-box-shadow: 0 3px 1px #64950d;
           box-shadow: 0 3px 1px #64950d;
}
.green:hover {background: #85b237;}
.green:active {
  -webkit-box-shadow: 0 1px 1px #64950d;
     -moz-box-shadow: 0 1px 1px #64950d;
           box-shadow: 0 1px 1px #64950d;
}

.red {
  color: #FFF;
  background: #bc3737;
  -webkit-box-shadow: 0 3px 1px #950d0d;
     -moz-box-shadow: 0 3px 1px #950d0d;
           box-shadow: 0 3px 1px #950d0d;
}
.red:hover {background: #b23737;}
.red:active {
  margin-top: 22px;
  -webkit-box-shadow: 0 1px 1px #950d0d;
     -moz-box-shadow: 0 1px 1px #950d0d;
           box-shadow: 0 1px 1px #950d0d;
}
/*view profile ends*/

/* Baby sitter profile */
.cardPP{
	height: 900PX;
	width: 1000px;
	padding: 10px 15px;
	background: linear-gradient(#f5baba, #ffe3e3 );
	border-radius: 20px;
	margin: 50px;
  margin-left: 90px;
	position: relative;
  overflow: hidden;
	text-align: left;
  box-shadow: 2px 5px 20px rgba(210, 197, 197, 0.4);
  margin-top: -10px;

}
/* Baby sitter profile ends */


.checked {
  color: orange;
}



/* DROPDOWN MENU TO USER ICON */

.dropdown {
  position: relative;
  display: inline-block;
  

}
.dropdown ul {
    margin-left: -140px;
  padding-right:40px;
  margin-top: -1px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-right: 5px;
    display: none;
  position: absolute;
  background-color: #383535;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;


}

.dropdown:hover ul {
  display: block;
}
.dropdown a{
    text-decoration: none;
color: rgb(0, 0, 0);
text-transform: uppercase;
font-family: 'Courier New', monospace;
padding-bottom: 10px;
}



/* DROPDOWN MENU TO USER ICON ENDs*/

